.dashboard-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.left-panel {
  flex: 1;
  max-width: 40%;
}

.right-panel {
  flex: 2;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.month-selector, select, input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-expense-button, .update-budget-button, .export-button {
  width: 100%;
  padding: 10px;
  background-color: #2ECC71;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.add-expense-button:hover, .update-budget-button:hover, .export-button:hover {
  background-color: #27AE60;
}

.expense-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.expense-table th, .expense-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.expense-table th {
  color: black;
  background-color: #E6F4EA; 
}


.expense-table td {
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content input, .modal-content select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2ECC71;
  color: white;
  cursor: pointer;
}

.modal-content button.close-button {
  background-color: #E74C3C;
}

.modal-content button:hover {
  opacity: 0.8;
}

.dark-mode .right-panel {
  background-color: #1E1E1E; 
}

.dashboard-container h1,
.dashboard-container h2,
.dashboard-container h3 {
   color: #14532D; 
}

body.dark-mode .dashboard-container h1,
body.dark-mode .dashboard-container h2,
body.dark-mode .dashboard-container h3 {
  color: #A8FF60 !important; 
}


.export-button {
  width: 100%;
  padding: 12px 20px;
  background-color: #2ECC71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.export-button:hover {
  background-color: #27AE60;
  box-shadow: 0px 0px 15px rgba(46, 204, 113, 0.4);
}

.export-button:active {
  transform: scale(0.98);
}

.export-button svg {
  margin-right: 8px; 
  width: 20px;
  height: 20px;
}


