body {
  background-color: #E6F4EA; /* Soft green */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="lightgreen" opacity="0.1"><text x="0" y="50" font-size="48">$</text></svg>');
  background-repeat: repeat;
  background-size: 150px 150px;
  background-position: center;
  color: #14532D; /* Dark green text */
  font-family: 'Poppins', 'Roboto', sans-serif;
}

a {
  color: #2ECC71;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dark-mode select,
.dark-mode input[type="date"],
.dark-mode input[type="text"],
.dark-mode input[type="number"] {
  background-color: #222;
  color: white;
  border: 1px solid #555;
}

.dark-mode .month-selector {
  background-color: #222;
  color: white;
  border: 1px solid #555;
}

.dark-mode .MuiInputBase-input,
.dark-mode .MuiSelect-select {
  color: white !important;
  background-color: #222 !important;
}

.dark-mode .MuiOutlinedInput-notchedOutline {
  border-color: #555 !important;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}



